*{
    margin: 0;
    border: 0;
}
.header{
    background-color: black;
    height: 100px;
    max-width: 100%;

}

.fruti-card{
    border: 3px solid black;
    margin: 10px; 
    width: 150px;
    height: 100px;
    text-align: center;
    align-items: center;
}

.respons{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}